<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:sec="http://www.springframework.org/schema/security"
	xsi:schemaLocation="
        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<sec:http auto-config="false" use-expressions="true">
		<sec:form-login login-page="/loginForm"
			login-processing-url="/login" default-target-url="/welcome"
			always-use-default-target="true" />
		<sec:intercept-url pattern="/login" access="permitAll" />
		<sec:intercept-url pattern="/logout" access="permitAll" />
		<sec:intercept-url pattern="/loginForm" access="permitAll" />
		<sec:intercept-url pattern="/user/**"
			access="hasAnyRole('ROLE_USER','ROLE_ADMIN')" />
		<sec:intercept-url pattern="/admin/**" access="hasRole('ROLE_ADMIN')" />
		<sec:intercept-url pattern="/**" access="isAuthenticated()" />
		<sec:logout logout-url="/logout" logout-success-url="/loginForm"
			invalidate-session="true" />
		<sec:access-denied-handler error-page="/403error" />
	</sec:http>

	<sec:authentication-manager>
		<sec:authentication-provider
			user-service-ref="accountUserDetailsService">
		</sec:authentication-provider>
	</sec:authentication-manager>

	<bean id="accountUserDetailsService" class="com.security.service.AccountUserDetailsService">
		<property name="accountResolverService" ref="accountResolverService" />
	</bean>
	<bean id="accountResolverService" class="com.security.service.AccountResolverService" />
</beans>
